<mat-card class="auth-card">
  <mat-card-content>
    <table cellspacing="0">
      <tr>
        <td colspan="2" class="auth-full-width">
          <h3>Registration Successful!</h3>
          <p>
            Your account info and default password will be sent to your
            email address.
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <button mat-raised-button color="primary" (click)="backToLogin()">
            Back to Homepage
          </button>
        </td>
      </tr>
    </table>
  </mat-card-content>
</mat-card>
