<app-sidebar-nav>
  <div class="module-container">
    <div class="col-lg-12">
      <app-header></app-header>
    </div>
  </div>
  <div class=" row module-container">
    <div class="col-md-6">
      <app-fault-trend></app-fault-trend>
    </div>
    <div class="col-md-6">
      <app-dutycycle-proformance></app-dutycycle-proformance>
    </div>
  </div>
  <div class=" row module-container">
    <div class="col-md-12 mt-2">
      <app-overall-distribution-driver></app-overall-distribution-driver>
    </div>
  </div>
  <div class=" row module-container">
    <div class="col-md-12 mt-2">
      <app-project-by-location></app-project-by-location>
    </div>
  </div>
</app-sidebar-nav>
