<div class="row mt-1">
  <div class="col-md-6 d-flex justify-content-start align-items-center align-content-center">
  <span class="header-name">{{title}}</span>
  </div>
  <div class="col-md-6 d-flex justify-content-lg-end justify-content-sm-start align-items-center">
    <div class="d-flex flex-column">
      <span class="header-loginIn-welcome">Welcome: <span style="font-weight: bold;">{{loginInUser}}</span></span>
      <span class="header-user-lost-login">Last login : 2 days ago</span>
    </div>
  </div>
</div>
