<div class="loading-shade" *ngIf="isLoading">
  <mat-spinner *ngIf="isLoading"></mat-spinner>
</div>
<mat-card class="auth-card">
  <mat-card-content>
    <form *ngIf="forgotPasswordForm" [formGroup]="forgotPasswordForm" (ngSubmit)="forgetPassword(forgotPasswordForm.value)" class="form">
      <table cellspacing="0">
        <tr>
          <td>
            <h3>Forgot Password?</h3>
            <p>
              Enter your email below to receive your password reset
              instructions.
            </p>
          </td>
        </tr>
        <tr>
          <td>
            <mat-form-field class="auth-full-width">
              <input matInput placeholder="Email" formControlName="email" />
              <mat-error *ngIf="
                  !forgotPasswordForm.controls['email'].valid &&
                  forgotPasswordForm.controls['email'].touched
                ">
                {{ getErrorEmail() }}
              </mat-error>
            </mat-form-field>
          </td>
        </tr>
        <tr>
          <td>
            <button mat-raised-button color="primary" type="submit" class="button"
              [disabled]="!forgotPasswordForm.valid">
              Send Password
            </button>
            <b><a (click)="backToLogin()" class="cancel-button">Cancel</a></b>
          </td>
        </tr>
      </table>
    </form>
  </mat-card-content>
</mat-card>
